.container{
    position: absolute;
    top: 20%;
    right: 10%;
    width: fit-content;
}

h2{
    margin-top:2%;
    color:rgb(0, 0, 90);
    font-weight: bold;
}

.submit{
    margin-top: 1rem;
}

.form-group{
    width:25rem;
}

img{
    width:70%;
    left: 0%;
}

label{
    font-weight:500;
}